<div class="modal-header">
    <!-- <h4 class="modal-title">Hi there!</h4> -->
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"
    ></button>
</div>
<div class="modal-body">
    <div class="text-center">
        <h5 class="d-block"> Usuario: {{ user?.username }}</h5>
        <h5 class="d-block">Email: {{ user?.email }}</h5>
        <h5 class="d-block">Rol: {{ user?.rol }}</h5>
    </div>
</div>

<div class="modal-footer">

</div>
